// The main container
.give-kudo {
  @extend .container;
  margin-bottom: $spacer;
}

.give-kudo__form {
  @extend .row;
}

.give-kudo__input {
  @extend .form-control;
}

.give-kudo__inputs {
  @extend .form-group;
  @extend .col-sm-12;
}

.give-kudo__left-pane {
}

.give-kudo__actions {
  @extend .col-sm-3;
  float: right;
}

.give-kudo__button {
  @extend .btn;
  @extend .btn-primary;
  width: 100%;

  @include media-breakpoint-up(sm) {
    height: 50px;
  }
}
