.kudo-teal {
  background-color: $color-factual-teal;
  border-color: $color-factual-teal
}

.kudo-lime {
  background-color: $color-factual-lime;
  border-color: $color-factual-lime;
}

.kudo-orange {
  background-color: $color-factual-orange;
  border-color: $color-factual-orange;
}

.kudo {
  width: 50%;
  max-width: ($kudo-list-max-width/2);
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 1000px) {
  .kudo {
    width: 100%;
    margin: 0 auto;
  }
}

.kudo .content {
  display: flex;
}

.kudo .sender {
  margin-top: .25rem;
  margin-right: .75rem;
  width: $avatar-size;
}

.kudo .receiver {
  position: relative;
  padding: 1rem 1.5rem;
  border-radius: .25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  width: 100%;
  min-width: 0;
}

.kudo .receiver:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0.625em solid transparent;
  border-right-color: inherit;
  border-left: 0;
  margin-left: -2rem;
}

.kudo .receiver .header {
  margin-top: -0.5rem;
  margin-bottom: .5rem;
  padding-right: .5rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 1.125rem;
  font-family: Gotham SSm A, Gotham SSm B, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.kudo .receiver .message {
  color: #fff;
  line-height: 1.5;
  word-wrap: break-word;
}

.kudo .meta {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: .875rem;
  color: $kudo-meta-text-color;
  text-transform: uppercase;
  margin-top: .5rem;
  padding-left: .75rem;
  padding-right: .5rem;
  font-family: Gotham SSm A, Gotham SSm B, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-left: $avatar-size;
}

.kudo .meta .meta-item {
  display: flex;
  align-items: center;
  margin: 0 .25rem;
}

.kudo .meta i {
  cursor: pointer;
  transition-duration: .2s;
}

.kudo .meta .fa-heart {
  margin-right: .25rem;
}

.kudo .meta .fa-heart:hover, .fas.fa-heart {
  color: red;
}

.kudo .meta .fa-edit, .fa-save, .fa-trash-alt {
  margin-left: .5rem;
}

.kudo .meta .fa-edit:hover {
  color: gray;
}

.kudo .meta .fa-save:hover {
  color: green;
}

.kudo .meta .fa-trash-alt:hover {
  color: red;
}

.kudo__tooltip:hover {
  z-index: 9999;
}

.kudo__tooltip-text {
  text-align: center;
  justify-content: center;
  align-content: center;
  font-size: 1rem;
  line-height: 1.25;
}

.kudo .avatar {
  @extend .img-circle;
  width: $avatar-size;
  height: $avatar-size;
}

.kudo .avatars {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.kudo .avatar-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.kudo .avatar-row:not(:first-child) {
  margin-top: -10px;
}

.kudo .avatar-row > * {
  margin-right: -15px;
}

.kudo .edit-box {
  @extend .form-control;
  width: 100%;
  color: black;
}
