.kudos-list {
  @extend .list-group;
}

.kudos-list__nav {
  @extend .nav;
  @extend .nav-tabs;
  margin-bottom: $spacer;
}

.kudos-list__tab {
  @extend .nav-item;
  cursor: pointer;
}

.kudos-list__fetching-container {
  text-align: center;
  margin-top: 150px;
}
