.kudos-list {
  @extend .list-group;
  width: $kudo-list-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kudos-list__nav {
  @extend .nav;
  @extend .nav-tabs;
  margin-bottom: $spacer;
  width: $kudo-list-width;
  margin: 0 auto;
  padding-left: ($give-kudo-width/2);
}

.kudos-list__tab {
  @extend .nav-item;
  cursor: pointer;
}

.kudos-list__fetching-container {
  text-align: center;
  margin-top: 75px;
}
