.margin-below {
  margin-bottom: 30px;
}

.settings__container {
  width: 600px;
  margin: 0 auto;
}

.settings__input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
