@import '../utils/variables';

select.drop_down_menu {
  border:0;
  background-color:white;
  -webkit-appearance: none;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: $font-gotham;

}
select.drop_down_menu:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f00;
}

select.drop_down_menu:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333;
}

.dotted_line {
  border-bottom:3px dotted #a09e9d;
  background-color: white;
  height: 3px;
  width:100%;
}