@import '../utils/variables';

select.drop_down_menu {
  border:0;
  -webkit-appearance: none;
  font-size: 1.5em;
  align-content: center;
  font-weight: 600;
  width: 100%;
  height: 35px;
  font-family: $font-gotham;
  padding: 0 2px;
  border: none;
  background: transparent
  url("data:image/svg+xml;utf8,
  <svg
  xmlns='http://www.w3.org/2000/svg'
  width='20'
  height='10'
  fill='black'><polygon
  points='0,2.5 15,2.5 7.5,10'/>
  </svg>") no-repeat right;
}