@import '../utils/variables';

select.drop_down_menu {
  border:0;
  background-color:white;
  -webkit-appearance: none;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: $font-gotham;

}

.drop_down_menu select:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #000000;
}


.dotted_line {
  border-bottom:3px dotted #7d7d7d;
  color:#7d7d7d;
  background-color: white;
  height: 3px;
  width:100%;
}