version: '2'
services:
  web:
    ports:
      # Change the second number to override your local port
      - 3000:3000
    environment:
      # Make an OAuth id/secret from here: https://console.developers.google.com/
      # Use these config parameters: (use your domain instead of localhost:3000)
      #   Type: Web application
      #   Authorized JavaScript origins: http://localhost:3000
      #   Authorized redirect URIs: http://localhost:3000/auth/google_oauth2/callback
      # Make sure to enable the "Google+ API" in the console.
      - G_OAUTH_ID=<OAUTH_ID>
      - G_OAUTH_SECRET=<OAUTH_SECRET>
      - SMTP_SERVER=<EMAIL_SERVER>
      - DEFAULT_FROM_EMAIL=<FROM_EMAIL>
      - EMAIL_DOMAIN=<DOMAIN>
      - EMAIL_USERNAME=<EMAIL_USERNAME>
      - EMAIL_PASSWORD=<EMAIL_PASSWORD>
