version: '2'
services:
  web:
    ports:
      # Change the second number to override your local port
      - 3000:3000
    environment:
      # Make an OAuth id/secret from here: https://console.developers.google.com/
      # Use these config parameters: (use your domain instead of localhost:3000)
      #   Type: Web application
      #   Authorized JavaScript origins: http://localhost:3000
      #   Authorized redirect URIs: http://localhost:3000/auth/google_oauth2/callback
      # Make sure to enable the "Google+ API" in the console.
      #
      # SITE_BASE_URL should be set to the domain Kudos is hosted on,
      # i.e. http://localhost:3000
      #
      - G_OAUTH_ID=<OAUTH_ID>
      - G_OAUTH_SECRET=<OAUTH_SECRET>
      - SMTP_SERVER=<EMAIL_SERVER>
      - SMTP_PORT=<SMTP_PORT>
      - SMTP_AUTH=<SMTP_AUTH>
      - STARTTLS_AUTO=<STARTTLS_AUTO>
      - DEFAULT_SENDER_EMAIL=<SENDER_EMAIL>
      - EMAIL_DOMAIN=<DOMAIN>
      - EMAIL_USERNAME=<EMAIL_USERNAME>
      - EMAIL_PASSWORD=<EMAIL_PASSWORD>
      - SLACK_API_TOKEN=<YOUR_SLACK_API_TOKEN>
      - SITE_BASE_URL=<SITE_BASE_URL>
