$spacer: 2rem;
$give-kudo-width: 600px;
$kudo-list-max-width: 1200px;
$avatar-size: 50px;

$color-factual-teal: #4bbcd3;
$color-factual-lime: #99ca3c;
$color-factual-orange: #f68a1e;
$color-factual-sorbet: #fecf8c;
$color-factual-cream: #fffacb;
$color-white: #ffffff;
$dark-border-color: #aaa;
$kudo-meta-text-color: #a09e9d;

$font-gotham: Gotham SSm A, Gotham SSm B, Helvetica Neue, Helvetica, Arial, sans-serif;
$heading-font-size: 1.5rem;
