<strong>Congratulations, <%= @receiver.name %>!</strong>
<p>
  You just received some Kudos!
</p>
<p>
  <a href='<%= @url %>'>Click here</a> to view your Kudos.
</p>
<p>
Thanks,<br />
Kudos Team
</p>
