<strong>Congratulations, <%= @receiver.name %>!</strong>
<p>
  You just received some Kudos from <%= @giver.name %>!
</p>
<p>
  Click on this link to read it: <%= @url %>
</p>
<p>
Thanks,<br />
Kudos Team
</p>
