// frameworks
@import "bootstrap";

// app-specific styles
@import "kudos/main";


nav {
  border-bottom: 1px solid lightgray;
  margin-bottom: 1em;
  height: 80px;
  position: relative;
}

#temp-header {
  display:inline-block;
  vertical-align: middle;
}

#sign_out {
  float: right;
}

.btn.login {
  display: inline-block;
  float: right;
  color: white;
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);

  a {
    color: white;
  }
}
.btn.btn-homepage {
  display: block;
  transform: none;
  top: 0;
  position: static;
  float: none;
  margin: auto;
}
.homepage-block {
  margin-top: 50px;
  text-align: center;
}
.logo {
  margin-bottom: 50px;
}
