<!DOCTYPE html>
<html>
  <head>
    <%= render 'head' %>
    <%= render "analytics" %>
  </head>

  <body>
    <div>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
    </div>

    <%= yield %>
  </body>
</html>
